.img {
    object-fit: cover;
    width: 125px;
    height: 75px;
}

.img-block {
    width: 125px;
    height: 75px;
}

.price {
    color: #319966;
}

.remove-btn {
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.btns {
    cursor: pointer;
}

@media (max-width: 576px) {

    .img,
    .img-block {
        width: 100px;
    }
}