.icon {
    cursor: pointer;
    margin-right: 20px;
    z-index: 3;
}

.badge {
    cursor: pointer;
    margin-right: 15px;
    z-index: 3;
}

.price {
    color: #319966;
}

.icon,
.badge {
    margin-top: 10px;
}

.remove-btn {
    padding: 5px 10px;
    background-color: #993332;
    color: white;
    border: 1px solid #993332;
    border-radius: 3px;
    transition: .3s;
}

.remove-btn:active {
    background-color: white;
    color: #993332;
    border: 1px solid #993332;
}

@media (max-width: 992px) {
    .icon {
        margin-top: 20px;
        margin-right: 22px;
    }

    .badge {
        margin-top: 20px;
        margin-right: 15px;
    }
}