body {
  margin: 0;
}

.navbar {
  z-index: 1;
  width: 100%;
}

.navbar-logo {
  height: '60px'
}

.hero {
  height: 80vh;
  background: url('./assets/img/hero.jpg') 0/100% no-repeat fixed;
  background-position: 0 70%;
}

.btn-menu {
  width: 180px;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #319966;
  color: #319966;
}

.btn-menu-active {
  background-color: #319966;
  color: white;
}

.btn-menu:active,
.btn-menu:hover {
  background-color: #319966;
  color: white;
  transition: .3s;
}

.card {
  overflow: hidden
}

.card-img {
  cursor: pointer;
}

.card-img:hover {
  transform: scale(1.1);
  transition: .1s;
}

.card-badge {
  z-index: 2;
}

.card-add-btn {
  padding: 5px 10px;
  background-color: #319966;
  color: white;
  border: 1px solid #319966;
  border-radius: 3px;
  transition: .3s;
}

.card-add-btn:active {
  background-color: white;
  color: #319966;
  border: 1px solid #319966;
}

.modal-img {
  width: 25vw;
  height: 25vw;
}

.modal-btn {
  width: 140px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #319966;
  border: 1px solid #319966;
  color: white;
}

.modal-btn:active {
  background-color: white;
  color: #319966;
  transition: .3s;
}

.basket-icon {
  cursor: pointer;
}