.menu-btn {
    width: 180px;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #319966;
    border-radius: 3px;
    color: #319966;
}

.menu-btn:active,
.menu-btn:hover {
    background-color: #319966;
    color: white;
    transition: .3s;
}

.select {
    width: 160px;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    background-color: #319966;
    color: white;
    border: #319966;
    border-radius: 3px;
    outline: none;
    appearance: none;
}

.option {
    background-color: white;
    color: #319966;
}

.sort {
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    color: #319966;
    border: inherit;
    outline: none;
}

.grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}

@media (max-width: 576px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}